.simple{background-color:#8784ff;}
.dollar:hover{ color:#18bc9c; }
.dollar{ color:RoyalBlue; }
.mydark{background-color:#2c3e50;}
.atrate:hover{ color:#18bc9c; }
.atrate{ color:red; }
.heavyt{
    font-weight:bold;
}
.navbar-blue{

	background-color:rgba(24,188,156,0.92);
}
.marq{font-family: sans-serif;
		      font-size:120%;}
			
			  .cartoon{font-family:tnamefont;
			            font-size:270%;}
			
                  .khatoon{font-family:tnamefont;
                  font-size:200%;
                    color: #FFFFFF;
    background-color: #2C3E50;
    border-color: white;}

.khatoono{font-family:ubuntu;
                  font-size:2.0vmax;
                    color: #ffffff;
    background-color:rgba(135,132,255,0.88);
   border-radius:10px;
width:30%;
margin-left:35%;}

	
		
		 
.ubuntu{font-family:Ubuntu;}

/*#dropbox-back{
	  position:fixed;
	  margin:0;
	  padding:0;
	  height:100%;
	  width:100%;
	  z-index:1005;
	  cursor:pointer;
	  background-color:black;
	  opacity:0.8;
	 display:none;
	  
  }

 #dropbox{
	  padding:0;
	  
	  position:fixed;
	 opacity:1.5;
	 
	  z-index:1009;
	  display:none;
  }
*/
.centered-form{
	margin-top: 20px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 1.5);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}	
  

.ri{float:right;}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
    .btn-link{/*color: #18bc9c;*/
	font-family:ubuntu;}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#2C3E50;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color:  #18bc9c;
}





#notification_body::-webkit-scrollbar
{
	width: 6px;
	background-color: #2C3E50 ;
}

#notification_body::-webkit-scrollbar-thumb
{
	background-color: #C4ECE5;
}

	#notification_show >tr { cursor: pointer; cursor: hand;
			 border-bottom: 0.5px solid #5E6D7B;}


	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #3be6c4;
				color:#2C3E50 ;
}
			
			.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
			.table-hover tbody tr:hover td span{
			color:#2C3E50 ;
			}	
			
	
.comicfont{font-family: ubuntu;
          font-weight: 400;
}

.getora{font-size:1.3em;}
.marq2{font-family:ubuntu;
		      font-size:150%;}
			  
			  .marq3{font-family:ubuntu;
			  font-size:220%;}
                          
                          
                          .mybr{
                              height:2px;
       
                          }
                          
                          .postmf{
                              font-size: medium !important;
                          }
                          .text-awhite{color:antiquewhite;}
                      
                      .smiliy_but{
                       padding-top: 0.2em!important;
    padding-bottom: 0.2em !important; 
        background-color: #eef0f3 !important;

                      }
                      
                      .led-yellow {
  margin:auto;
  width: 7px;
  height: 7px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(254, 254, 254, 1) 0 -1px 7px 1px, inset #fff 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}
.led-yellow-off {
  margin:auto;
  width: 7px;
  height: 7px;
  background-color:gray;
  border-radius: 50%;
  
  
}


@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow:black 0 -1px 7px 1px, inset black 0 -1px 9px, black 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: black 0 -1px 7px 1px, inset black 0 -1px 9px, black 0 2px 0; }
    to { background-color: #FF0; }
}

#search_members,#members_all{
    
    max-height: 300px;
    overflow-y: scroll;
}
.textareabak{
        background-color: antiquewhite !important;
}
.inputbak {
    
        background-color: antiquewhite !important;

}
.inputpc{
    border-color: #2C3E50;
}
.baksuccess{
    background-color: #18bc9c;
}
@media (max-width: 480px){
::-webkit-scrollbar{width:0px;}
.navbar-blue{background-color:rgba(24,188,156,1.0);}
.navbar{min-height:40px;}
.sidenav{height:100%;width:0;position:fixed;z-index:1001;top:0;left:0;box-shadow:0px 0px 10px #000;background:#617182;

/* For browsers that do not support gradients */background:-webkit-linear-gradient(left top, rgb(24, 188, 156),rgba(44, 62, 80, 0.74));

/* For Safari 5.1 to 6.0 */

/* For Opera 11.1 to 12.0 */

/* For Firefox 3.6 to 15 */background:-webkit-gradient(linear, left top, right bottom, from(rgb(24, 188, 156)),to(rgba(44, 62, 80, 0.74)) );background:-webkit-linear-gradient(top left, rgb(24, 188, 156),rgba(44, 62, 80, 0.74) );background:linear-gradient(to bottom right,rgb(24, 188, 156),rgba(44, 62, 80, 0.74) );

/* Standard syntax (must be last) */overflow-x:hidden;-webkit-transition:0.5s;transition:0.5s;padding-top:20px;color:white;}
.sidenav .closebtn{position:absolute;top:0;right:25px;font-size:36px;margin-left:50px;}
@media screen and (max-height: 450px){
.sidenav{padding-top:15px;color:white;}}
.postmf{font-size:small !important;}
.btn:focus{outline:none;}

.modal,.modal-lg,.modal-body,.modal-dialog{padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;}


.khatoono {
    font-family: ubuntu;
    font-size: 5.0vw;
    color: #ffffff;
    background-color: rgba(135,132,255,0.88);
    border-radius: 0;
    width: 100%;
    margin-left: 0;
    box-shadow: 2px 2px 15px #ffffff !important;
}

#lg-menu{
      background-color: rgba(255, 255, 255, 0.52) !important;
}
.inputmob{
    border-color: #2C3E50;
}
}

@media screen and (max-height: 450px){
.sidenav{padding-top:15px;color:white;}}