
#main{
 background-size: cover;
 background-color: #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumbnail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pie{cursor: pointer; 
     }
 
blockquote footer{
	color:rgba(81,81,152,1);;
	/*text-shadow: 1px 1px 1px  black;*/
}
blockquote footer.privfoot{
	color:#dae2ea;
	font-family: ubuntu;
        height:inherit;
}
blockquote footer.privfoot:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
	zoom:110%;
 background-color:inherit;
 font-weight: bolder;
}
.totext{overflow:hidden;
        color:RoyalBlue;
    padding:0.2px;}

		
.ttext{overflow:hidden;
        color:white;
    padding:0.2px;}


a.topichov{
background-color:rgba(0,0,255,1); 
border-radius: 5px;
 
}

a.topichov.priv{
background-color:rgba(255,0,0,1); 


}


a.topichov:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
background-color:rgba(255,255,255,1); 
}


.nav-pills>li>a {
    border-radius:0px;
}			
			

.full.col-sm-9{
   
    padding-left:0px;
    padding-right:0px;
}
 .bwimg{ }
 .homeo{
     border-radius:0.9em !important;background-color:#d4d8da ;padding:11px !important;
     box-shadow: 3px 3px 15px #888888 !important ;
 }
 .homeo:hover{
     box-shadow: none !important;
     font-weight: bolder;
     
 }
 
 .topic_bheed{
     line-height: 650%;
 }
 .dpwala{
     background-color:#2c3e50;height:30vh;
 }
 @media (max-width: 480px){

     .dpwala{
         background-color:#dadada!important;
         height:30vh;
     }
 .full.col-sm-9{
  padding-left: 0px;
  padding-right: 0px;
 }

 .sizehand{
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 0px 2px 10px #888888;
 }

 a.topichov{
  background-color: rgba(0,0,255,0.6);
  border-radius: 0px;
 }

 a.topichov.priv{
  background-color: rgba(255,0,0,0.7);
 }

 #return blockquote{
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 0px;
 }

 .getfull{
  width: 100%;
 }

 .thumbnail{
  padding: 0px !important;
  border-radius: 0px;
  box-shadow: 0px -2px 10px #888888;
 }

 div.caption{
  padding-left: 0px !important;
  padding-right: 0px !important;
 }

 .fa-globe{
  color: white;
 }

 .fa-lock{
  color: white;
 }
 .homeo{
     padding:6px !important;
     border-radius: 2.0em !important;
    background-color:#d4d8da !important;
    box-shadow: 2px 2px 15px #888888 !important;
    
 } 
 .topic_bheed{
     line-height: 8vh;
 }
}